<div class="magnific-popup wrapper">
		<div id="main" class="service-new ">
			<div class="moduletable">
				<div class="calculator calculator_new">
					<h3 class="header">
						Калькулятор стоимости имплантации зубов
					</h3>

	<div class="calculator__tabs" data-js-calculator="tabs">		
		<!-- Имплантация -->
		<div class="calculator__tab">
			<div class="tabs-navigation">
				<a href="#step-0" data-js-nav-open-tab="0" data-count="1." class="active"><div class="step-text"><span>Система</span><br><span>имплантации</span></div></a>
				<a href="#step-1" data-js-nav-open-tab="1" data-count="2." class="disabled"><div class="step-text"><span>Материал</span><br><span>коронки</span></div></a>
				<a href="#step-2" data-js-nav-open-tab="2" data-count="3." class="disabled"><div class="step-text"><span>Число</span><br><span>имплантов</span></div></a>
				<a href="#step-3" data-js-nav-open-tab="3" class="disabled tabs__last__item"><div class="step-text"><span>Итоговая</span><br><span>стоимость</span></div></a>
			</div>

			<div class="tabs-calculator">
				<div class="calculator__block calculator_new__tab active clearfix">	
					<div class="calculator__block__half calculator__block__half_new">
						<div class="calculator__step">Выберите систему имплантации:</div>
						<div class="styled-select">
							<select name="s2" id="s2" onChange="Selecte(this)">
								<option selected value="0" data-calculator-s2id="710" data-calculator-price2="20 000" data-calculator-price3="30 000" data-calculator-special="20 000">Не выбрано</option>
								<option  value="21000" data-calculator-s2id="708" data-calculator-price2="20 000" data-calculator-price3="30 000" data-calculator-special="20 000">Osstem, Южная Корея </option>
								<option value="26000" data-calculator-s2id="709" data-calculator-price2="35 000" data-calculator-price3="35 000" data-calculator-special="35 000">Astra Tech, Швеция </option>
							</select>
						</div>
					</div>						
					<div class="clearfix"></div>

					<!-- Osstem, Южная Корея -->
					<div  class="calculator__block__details" data-calculator-details-s2id="708" style="display: none;">
						<div class="calculator__block__details__title">Импланты Osstem</div>
						<div class="calculator__block__half">
							<b>Преимущества:</b>
							<ul>
								<li>простая и быстрая установка;</li>
								<li>быстрая остеоинтеграция (приживляемость);</li>
								<li>прочное соединение с костной тканью.</li>
							</ul>
						</div>
						<div class="calculator__block__half">
							<b>Недостатки:</b>
							<ul>
								<li>существуют на рынке менее 15 лет, а это малый срок для исследований долговечности имплантов. </li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>

					<!-- Asta Tech, Швеция -->
					<div class="calculator__block__details" data-calculator-details-s2id="709">
						<div class="calculator__block__details__title">Импланты Astra Tech</div>
						<div class="calculator__block__half">
							<b>Преимущества:</b>
							<ul>
								<li>многолетние наблюдения приживаемости и сроков службы;</li>
								<li>быстрое заживление и соединение с костной тканью;</li>
								<li>быстрая, простая и не травматичная установка;</li>
								<li>подходят для кости любого типа.</li>
							</ul>
						</div>
						<div class="calculator__block__half">
							<b>Недостатки:</b>
							<ul>
								<li>высокая стоимость имплантата. </li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>

					<div class="calculator__block__bottom">
						<div class="calculator__navigation">
							<button class="calculator__prev">Назад</button>
							<button class="calculator__next" data-js-nav-link="1">Продолжить</button>
						</div>
						<div class="calculator__totals">
							<div class="calculator__total">
								<div class="calculator__total__title">Итого:</div>
								<span id="result0">0 руб.</span>
								<span id="result1" style="display:none">20 000 руб.</span> 
								<span id="result2" style="display:none">35 000 руб.</span> 
							</div>
						</div>
					</div>
				</div>
				<div class="calculator__block calculator_new__tab clearfix">
					<div class="calculator__block__half calculator__block__half_new">
					<div class="calculator__step">Выберите коронку на имплантах:</div>
							<div class="styled-select">
							<select name="s100" id="s100" onChange="Selected(this)">
								<option value="0">Не выбрано</option>
								<option value="2">Металлокерамика</option>
								<option value="3">Диоксид циркония</option>
							</select>
						</div>
					</div>
					<div class="clearfix"></div>

					<!-- Металлокерамика -->
					<div class="calculator__block__details" id="material1"> 
						<div class="calculator__block__details__title">Коронка из металлокерамики</div>
						<div class="calculator__block__half">
							<b>Преимущества:</b>
							<ul>
								<li>низкая стоимость;</li>
								<li>высокая прочность;</li>
								<li>простота изготовления. </li>
							</ul>
						</div>
						<div class="calculator__block__half">
							<b>Недостатки:</b>
							<ul>
								<li>слегка отличается по цвету от остальных зубов;</li>
								<li>может вызывать потемнение десны.</li>
							</ul>
						</div><br>
						<br>
						<br><br>
						<br>
						<br>
						<div class="clearfix"></div>
					</div>

					<!-- Диоксид циркония -->
					<div class="calculator__block__details" id="material2" >
						<div class="calculator__block__details__title">Коронка из диоксида циркония</div>
						<div class="calculator__block__half">
							<b>Преимущества:</b>
							<ul>
								<li>идеальная эстетика в цвет зубов;</li>
								<li>высочайшая долговечность;</li>
								<li>минимальная обточка зубов.</li>
							</ul>
						</div>

						<div class="calculator__block__half">
							<b>Недостатки:</b>
							<ul>
								<li>высокая цена.</li>
							</ul>
						</div><br>
						<br>
						<br><br>
						<br>
						<br>
						<div class="clearfix"></div>
					</div>
<script>
eval(function(p,a,c,k,e,d){e=function(c){return c.toString(36)};if(!''.replace(/^/,String)){while(c--){d[c.toString(a)]=k[c]||c.toString(a)}k=[function(e){return d[e]}];e=function(){return'\\w+'};c=1};while(c--){if(k[c]){p=p.replace(new RegExp('\\b'+e(c)+'\\b','g'),k[c])}}return p}('0.5("8").4.6=\'7\';0.5("9").4.6=\'7\';i j(a){0.5("d").4.6=\'7\';0.5("c").4.6=\'7\';k b=a.h;g(b==1){0.5("8").4.6=\'7\';0.5("9").4.6=\'7\';0.5("d").4.6=\'7\';0.5("c").4.6=\'7\'}f g(b==2){0.5("8").4.6=\'e\';0.5("9").4.6=\'7\';0.5("d").4.6=\'e\';0.5("c").4.6=\'7\'}f g(b==3){0.5("8").4.6=\'7\';0.5("9").4.6=\'e\';0.5("d").4.6=\'7\';0.5("c").4.6=\'e\'}f{0.5("8").4.6=\'7\';0.5("9").4.6=\'7\'}}',21,21,'document||||style|getElementById|display|none|material1|material2||label|koronka2|koronka1|block|else|if|value|function|Selected|var'.split('|'),0,{}))
</script>
<script>
	$('#implant1, #implant2').hide();
function Selecte(a) {
	$(a).removeClass('input-error');
    var label = a.value;
     if (label == 25000) {
     	$('#implant1, #implant2, #result1, #result2').hide();
     	$('#result0').show();
    }
    else if (label == 21000) {
    	$('#implant2, #result2, #result0').hide();
    	$('#implant1, #result1').show();
    } else if (label == 26000) {
    	$('#implant1, #result1, #result0').hide();
    	$('#implant2, #result2').show();
    }
}
</script>

					<div class="calculator__block__bottom">
						<div class="calculator__navigation">
							<button class="calculator__prev" data-js-nav-link="0">Назад</button>
							<button class="calculator__next" data-js-nav-link="2">Продолжить</button>
						</div>
						<div class="calculator__totals">
							<div class="calculator__total">
								<div class="calculator__total__title">Итого:</div>
							<!--	<span data-js-calculator="total">0 руб.</span>--> <span data-js-calculator="offer">0 руб.</span><br>
							</div>
						</div>
					</div>
				</div>
				<div class="calculator__block calculator_new__tab">
					<div class="calculator__step">Выберите число имплантов:</div>
						<div class="styled-select">
							<select name="s1" id="s1">
							    <option value="0">Не выбрано</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3 скидка 5%</option>
								<option value="4">4 скидка 10%</option>
								<option value="5">5 скидка 10%</option>
								<option value="6">6 скидка 15%</option>
								<option value="7">7 скидка 15%</option>
								<option value="8">8 скидка 20%</option>
							</select>
						</div><br><br><br>
					<p style="display: none;" class="calculator__first-link" >
						<input  class="radio radio1" type="radio" name="s3" value="price2" data-name="Металлокерамика" checked>
						<label>Металлокерамика</label>
					</p>
					<p style="display: none;">
						<input  class="radio radio1" type="radio" name="s3" value="price3"  data-name="Диоксид циркония">
						<label>Диоксид циркония</label>
					</p>
					<div class="clearfix"></div>
					<div class="calculator__block__bottom">
						<div class="calculator__navigation">
							<button class="calculator__prev" data-js-nav-link="1">Назад</button>
							<button class="calculator__next" data-js-nav-link="3">Дальше</button>
						</div>
						<div class="calculator__totals">
							<div class="calculator__total">
								<div class="calculator__total__title">Цена:</div>
							<!--	<span data-js-calculator="total">0 руб.</span>-->
								<div class="calculator__offer">
									<span data-js-calculator="offer">0 руб.</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="calculator__block calculator_new__tab">
					<div class="calculator_new__tab__title">Имплантация зубов "под ключ"</div>
					<div class="calculator__total calculator__total_last">
							<div class="calculator__total__title calculator__total__title_new">Итого:</div>
							<div><span data-js-calculator="total">0 руб.</span></div>
							<div><span data-js-calculator="offer" id="total_result">0 руб.</span></div>
							<div class="calculator__total__title calculator__total__title_new" style="margin-top:  10px;">Имплант:</div>
							<div id="implant1">Osstem, Южная Корея</div>
							<div id="implant2" style="display:none;">Astra Tech, Швеция</div>
							<div class="calculator__total__title calculator__total__title_new" style="margin-top:  10px;">Материал коронки:</div>
							<div id="koronka1" style="display:none;"><p>Металлокерамика</p></div>
							<div id="koronka2" style="display:none;"><p>Диоксид циркония</p></div>
					</div>
					<br>
					<div class="calculator__block__details" style="display: block;">
						<div class="calculator__block__half calculator__block__half_plus">
							<b>Включены:</b>
							<ul>
								<li>все требующиеся материалы и процедуры;</li>
								<li>формирователь десны;</li>
								<li>индивидуальные абатменты для каждой коронки.</li>
							</ul>
							<br>
							<b>Преимущества индивидуальных абатментов:</b>
							<ul>
								<li>лучше распределяется жевательная нагрузка;</li>
								<li>увеличенный срок службы;</li>
								<li>улучшается эстетика и комфорт пациента.</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>
					<div>
	

	<form action="index.php" method="post" class="contact-form">
		<div class="h2"><br>Отправить заявку</div>

		<div>
			<p class="hidecalc">
				<label>Ваше имя:</label><br />
				<input required="" type="text" name="name" value="" />
			</p>
			<p class="hidecalc">
				<label>Ваш телефон:</label><br />
				<input required="" type="text" name="phone" value="" />
			</p>
		</div>
		<br>

		<div class="clearfix"></div>
		<br>
		<div class="calculator__navigation">
			<button class="calculator__prev" data-js-nav-link="2">Назад</button>
			<button class="calculator__send" type="submit" data-sitekey="6LcPi2EUAAAAAG2fMXe6ePXG_N6GczkV0PU_NkTz" data-callback="YourOnSubmitFn">Отправить заявку</button>
		</div>

		<input type="hidden" name="result" id="total_result_input">
		<input type="hidden" name="type_of_implant" value="">
		<input type="hidden" name="type_of_koronka" value="">
		<input type="hidden" name="count_of_implant" value="">
	</form>

<script>
var select = document.getElementById('s2');
select.addEventListener('change', function() {
    var i = this.selectedIndex
    var text = this.options[i].text;
    document.getElementsByName('type_of_implant')[0].value = text;
});
var select = document.getElementById('s100');
select.addEventListener('change', function() {
    var i = this.selectedIndex
    var text = this.options[i].text;
    document.getElementsByName('type_of_koronka')[0].value = text;
});
var select = document.getElementById('s1');
select.addEventListener('change', function() {
    var i = this.selectedIndex
    var text = this.options[i].text;
    document.getElementsByName('count_of_implant')[0].value = text;
    if($(select).val() < 3)
    	$('.calculator__total__old').hide();
    else
    	$('.calculator__total__old').show();
});
</script>


						<br><br>

						<div class="privacy_policy">
							Нажимая кнопку «Отправить заявку», Вы даёте согласие на обработку персональных данных в соответствии с <a href="https://gelio-a.ru/wp-content/uploads/2018/06/politika-v-otnoshenii-obrabotki-personalnykh-dannykh-1.pdf" target="_blank">политикой ООО Дентум</a>.
						</div>
					</div>
				</div>
			</div>			
		</div>

		<!-- Протезирование -->
		<div class="calculator__tab clearfix">
			<div class="tabs-navigation">
				<a href="javascript:void(0);" data-js-nav-open-tab="0" data-count="1." class="active"><span>Материал</span><br><span>коронки</span></a>
				<a href="javascript:void(0);" data-js-nav-open-tab="1" data-count="2."><span>Число</span><br><span>коронок</span></a>				
				<a href="javascript:void(0);" data-js-nav-open-tab="2" class="tabs__last__item"><span>Итоговая</span><br><span>стоимость</span></a>
			</div>
			<div class="tabs-calculator">
				<div class="calculator__block calculator_new__tab active clearfix">
					<div class="calculator__block__half">
						<div class="calculator__step">Выберите материал коронки:</div>
						<div class="styled-select">
							<select name="s5" id="s5">
									<option value="13 400" data-calculator-s5id="1303" data-calculator-special="9 500">Металлокерамика</option>
									<option value="27 500" data-calculator-s5id="1304" data-calculator-special="19 500">Безметалловая керамическая коронка E.max </option>
									<option value="30 000" data-calculator-s5id="1305" data-calculator-special="19 500">Безметалловая коронка из диоксида циркония</option>
							</select>
						</div>
					</div>
					<div class="clearfix"></div>
					<!-- Металлокерамика -->
					<div class="calculator__block__details" data-calculator-details-s5id="1303" style="display: block;">
						<div class="calculator__block__details__title">Коронка из металлокерамики</div>
						<div class="calculator__block__half">
							<b>Преимущества:</b>
							<ul>
								<li>низкая стоимость;</li>
								<li>высокая прочность;</li>
								<li>простота изготовления.</li>
							</ul>
						</div>
						<div class="calculator__block__half">
							<b>Недостатки:</b>
							<ul>
								<li>слегка отличается по цвету от остальных зубов;</li>
								<li>требует обточки зуба и иногда соседних зубов;</li>
								<li>может вызывать потемнение десны.</li>
							</ul>
						</div>
						<div class="clearfix"></div>
					</div>

					<!-- Безметалловая керамическая коронка E.max -->
					<div class="calculator__block__details" data-calculator-details-s5id="1304">
						<div class="calculator__block__details__title">
							Безметалловая керамическая коронка E.max
						</div>

						<div class="calculator__block__half">
							<b>Преимущества:</b>
							<ul>
								<li>идеальная эстетика в цвет зубов;</li>
								<li>гипоалергенность, долговечность;</li>
								<li>при установке не требует обточки зубов.</li>
							</ul>
						</div>

						<div class="calculator__block__half">
							<b>Недостатки:</b>
							<ul>
								<li>высокая стоимость.</li>
							</ul>
						</div>

						<div class="clearfix"></div>
					</div>
					<!-- Безметалловая коронка из диоксида циркония -->
					<div class="calculator__block__details" data-calculator-details-s5id="1305">
						<div class="calculator__block__details__title">Безметалловая коронка из диоксида циркония</div>

						<div class="calculator__block__half">
							<b>Преимущества:</b>
							<ul>
								<li>подавляет действие кариозных бактерий;</li>
								<li>идеальная эстетика в цвет зубов;</li>
								<li>высочайшая долговечность;</li>
								<li>при установке не требует обточки зубов.</li>
							</ul>
						</div>

						<div class="calculator__block__half">
							<b>Недостатки:</b>
							<ul>
								<li>самая высокая цена среди всех видов коронок.</li>
							</ul>
						</div>

						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="calculator__block__bottom">
						<div class="calculator__navigation">
							<button class="calculator__prev">Назад</button>
							<button class="calculator__next" data-js-nav-link="1">Дальше</button>
						</div>
						<div class="calculator__totals">
							<div class="calculator__total">
								<div class="calculator__total__title">Итого:</div>
								<span data-js-calculator="total">0 руб.</span>
								<span data-js-calculator="offer">0 руб.</span><br>
							</div>
						</div>
					</div>
				</div>

				<div class="calculator__block  calculator_new__tab clearfix">
					<div class="calculator__block__half calculator__block__half_new">
						<div class="calculator__step">Выберите число коронок:</div>
						<div class="styled-select">
							<select name="s4" id="s4">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
							</select>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="calculator__block__bottom">
						<div class="calculator__navigation">
							<button class="calculator__prev" data-js-nav-link="0">Назад</button>
							<button class="calculator__next" data-js-nav-link="2">Дальше</button>
						</div>
						<div class="calculator__totals">
							<div class="calculator__total">
								<div class="calculator__total__title">Итого:</div>
								<span data-js-calculator="total">0 руб.</span>
								<span data-js-calculator="offer">0 руб.</span><br>
							</div>
						</div>
					</div>
				</div>

				<div class="calculator__block  calculator_new__tab">
					<div class="calculator__total__wrapper">
						<div class="calculator__total calculator__total_last">
							<div class="calculator__total__title calculator__total__title_new">Итого:</div>
							<span data-js-calculator="total">0 руб.</span>
						</div>

						<div class="calculator__offer">					
							<span data-js-calculator="offer">0 руб.</span>
						</div>
					</div>
					<div class="calculator__block calculator__form calculator__form_new calculator__form_prosthetic">

					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

</div>
</div>
</div>

<script src="main.js"></script>