<div class="popup magnific-popup result" id="ready">
    <div class="title">Извините! <br>Ваша заявка отправлена не была.</div>
    <p>При отправке заявки произошла непредвиденная ошибка, свяжитесь с нами по e-mail адресу 2258630@gmail.com.</p>

    <div class="link_wrap">
        <a onClick="closePopup();" href="https://gelio-a.ru" class="btn">Вернуться на главную</a>
    </div>
</div>