<div class="popup magnific-popup result" id="ready">
    <div class="img">
        <img src="https://gelio-a.ru/wp-content/themes/dentum-wp/assets/img/icons/yes.png" alt="yes">
    </div>

    <div class="title">Спасибо! <br>Ваша заявка принята!</div>
    <p>В ближайшее время мы свяжемся с вами.</p>

    <div class="link_wrap">
        <a onClick="closePopup();" href="https://gelio-a.ru" class="btn">Вернуться на главную</a>
    </div>
</div>